.correct {
    border: 5px solid #4AEC96;
    margin-bottom: 5rem;
}

.incorrect {
    border: 5px solid #FF3130;
    margin-bottom: 5rem;
}

div {
    font-size: 2.2rem;
    font-weight: 700;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

    .active, .accordion:hover {
        background-color: #ccc;
    }

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.rightAns{
visibility: hidden;
}
