.choiceContainer {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid #001546;
    border-radius: 10px;
    background-color: #edf8fe;
}

    .choiceContainer:hover {
        cursor: pointer;
        box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
        transform: translateY(-0.1rem);
        transition: transform 150ms;
    }

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

/* feedback */

.correct{
    background-color: #28a745;
}

.incorrect {
    background-color: #dc3545;
}

.chosenAnswer {
    background-color: darkgray;
}

/* HUD */
#hud {
    display: flow;
    justify-content: space-between;
}

.hud-prefix {
    font-size: 2rem;
}


#progressBar {
    width: 100%;
    height: 1rem;
    background-color: #edf8fe;
}

#progressBarFull {
    height: 1rem;
    background-color: #001546;
    width: 0%;
    margin-bottom: 0.5rem;
}

/*imeg*/
#QuestionPic {
    padding: 1.5rem;
}

#timer {
    background-color: #4aec96;
    color: #001546;
    width: 100%;
    height: 4rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight:900;
    padding:10px;
}

#points {
    background-color: #001546;
    color: white;
    width: 20%;
    height: 2rem;
    padding-left: 10px;
}

    #points div {
        color: white;
    }

    #points span {
        color: white;
    }